.App {
  margin: 0 auto;
  max-width: 400px;
  overflow-x: hidden;

  .content {
    max-height: 300px;
    padding: 20px;
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--color-1);
    color: var(--color-2);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 6px 20px -6px #777;


    .buttons-group {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 15px;
      button:first-child {
        margin-right: 4px;
      }
    }

    .task-wrapper {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 8px 2px;
      border-bottom: 1px solid var(--body-bg);
      .buttons-group {
        margin-top: 0;
        button:first-child {
          font-size: 11px;
        }
      }
    }

    .MuiButton-containedPrimary {
      background-color: var(--primary-color);
    }

    // inputs of material ui style
    .MuiTextField-root {
      background-color: var(--body-bg) !important;
    }

    form {
      & > div {
        width: 100%;
        margin-bottom: 5px;
      }
    }
  }
}




